__pycache__/
ddim_samples/
ddim_trajectories/
flow_matching_samples/
flow_matching_trajectories/
ddpm_loss.png
flow_matching_loss.png
doc/
figures/intro_euler_method.html
figures/intro_euler_method_files/MathJax.js
figures/intro_euler_method_files/plotly-2.35.2.min.js
assets/20250219_153151_fig-1.png
assets/20250219_161309_fig-2.png
.DS_Store
flow_samples/
ddpm_samples/
ddpm_trajectories/
flow_trajectories/
Proof_1_of_Optimal_Solution.pdf
Proof_2_of_Marginal_Preservation.pdf
Rectified-Flow-Straight-is-Fast-v1.0.pdf
Rectified-Flow-Straight-is-Fast-v1.0.md.backup
Rectified-Flow-Straight-is-Fast-v1.0.html
Rectified-Flow-Straight-is-Fast-v1.0.txt
Rectified-Flow-Straight-is-Fast-v1.0.wpml
